/* ==============================================
                Mobile Menu
============================================== */
.navbar-header {
    position: relative;
}

#mobile-nav-open-btn {
    font-size: 30px;
    color: #d64933;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    left: 25px;
    top: 15px;
    display: none;
}

#mobile-nav {
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, .8);
    transition: all 300ms linear;
    overflow-y: hidden;
}

#mobile-nav-close-btn {
    font-size: 50px;
    color: #131f25;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 25px;
    transition: .3s;
}

#mobile-nav-content {
    text-align: center;
    width: 100%;
    margin-top: 40px;
    position: relative;
    top: 10%;
}

#mobile-nav ul li {
    margin-bottom: 20px;
}

#mobile-nav a {
    font-size: 18px;
    color: #131f25;
    font-weight: 400;
    display: inline;
    transition: .3s;
}

#mobile-nav a:hover, #mobile-nav a:focus, #mobile-nav-close-btn:hover, #mobile-nav-close-btn:focus {
    color: #d64933;
    text-decoration: none;
}

.white-nav-top #mobile-nav li a.active {
    color: #d64933;
    font-weight: 500;
}

/* Larg Devices (Desktops & Laptops) */
@media (min-width: 1200px) {
    
}

/* Medium Devices (Landscape Tablets & Medium Desctops) */
@media (min-width: 992px) and (max-width: 1199px){
    .navbar {
        padding: 15px 35px;
    }
}

/* Small Devices (Portrait Tablets & Small Desctops) */
@media (min-width: 768px) and (max-width: 991px){
    .navbar {
        padding: 15px 35px;
    }

    #home-heading h1 {
        font-size: 41px;
    }

    #home-text p {
        font-size: 13px;
    }

    .btn-general {
        font-size: 10px;
        padding: 8px 35px;
    }

    .btn-back-to-top {
        padding: 3px 10px;
        font-size: 18px;
        display: none;
    }
}

/* Extra Small Devices (Landscape Phones & Portrait Tablets) */
@media (max-width: 767px){
    .navbar {
        padding: 15px 5px;
    }

    #mobile-nav-open-btn {
        display: block;
    }

    #home-heading h1 {
        font-size: 24px;
    }

    #home-text p {
        font-size: 13px;
        margin: 8px 2px 20px 2px;
    }

    .btn-general {
        font-size: 10px;
        padding: 8px 25px;
    }

    .btn-back-to-top {
        padding: 2px 7px;
        font-size: 13px;
        display: none;
    }

    .content-box-lg {
        padding: 75px 0;
    }
    
    .content-box-md {
        padding: 60px 0;
    }

    .vertical-heading {
        text-align: center;
    }

    .vertical-heading h5 {
        transform: rotate(0deg);
        position: static;
        margin-bottom: 15;
    }
    
    .vertical-heading h2 {
        margin: 0;
        font-size: 22px;
        line-height: normal;
    }

    #about-right {
        margin-bottom: 50px;
    }

    #about-left {
        text-align: center;
    }

    #contact-right {
        text-align: center;
    }

    ul.office-details li{
        display: block;
    }

    ul.office-details li i {
        width: auto;
        display: block;
    }

    .social-list {
        margin-bottom: 30px;
    }
}
