/* ==============================================
    Default Theme
    ---------------------------------------------
    Fonts: Raleway, Open Sans, Vazir
    ---------------------------------------------
    Colors:
        Chilean Fire:       #D64933
        Tangaroa:           #131f25
        White Smoke:        #f3f3f3
        white:              #ffffff
        black:              #000000
============================================== */

/* ==============================================
                    Preloader
============================================== */
#preloader {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url("../img/preloader/preloader.gif");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;

}