/* ==============================================
    Default Theme
    ---------------------------------------------
    Fonts: Raleway, Open Sans, Vazir
    ---------------------------------------------
    Colors:
        Chilean Fire:       #d64933
        Tangaroa:           #131f25
        White Smoke:        #f3f3f3
        white:              #ffffff
        black:              #000000
============================================== */

/* ==============================================
                    HTML, Body
============================================== */
html, body {
    height: 100%;
}

body {
    color: #131f25;
    font-family: Raleway, Vazir;
}

p {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

section {
    background: white;
    overflow: hidden;
}

.btn-general {
    font-family: Raleway, Vsazir;
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px;
    transition: all .5s;
}

/* ==============================================
                Social Icon
============================================== */

ul.social-list {
    padding: 0;
    margin-top: 20px;
}

ul.social-list li {
    display: inline-block;
    padding: 0;
}

ul.social-list li a {
    border: 1px solid white;
    font-size: 15px;
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    color: white;
    border-radius: 50%;
    transition: all 400ms linear;
    text-align: center;
}

ul.social-list li:nth-child(1) a:hover {
    background: #38A1F3;
    border-color: transparent;
}

ul.social-list li:nth-child(2) a:hover {
    background: #3f729b;
    border-color: transparent;
}

ul.social-list li:nth-child(3) a:hover {
    background: #0088cc;
    border-color: transparent;
}

/* ==============================================
                    Preloader
============================================== */
#preloader {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url("../img/preloader/preloader.gif");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
}

/* ==============================================
                    Home
============================================== */
#home {
    background: none;
    height: 100%;
}

#home video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url("../video/draperies.png");
    background-size: cover;
}

#home-overlay {
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}


#home-content {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-inner {
    display: table-cell;
    vertical-align: middle;
}

#home-heading h1 {
    color: white;
    font-size: 70px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
}

#home-heading h1 span {
    color: #d64933;
    font-weight: 500;
}

#home-text p {
    color: white;
    font-size: 17px;
    font-weight: 100;
    margin: 8px 0 30px 0;
}

#arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: white;
    font-size: 32px;
    width: 32;
    height: 32;
    text-align: center;
    margin-left: -16px;
    z-index: 1;
}

#arrow-down:hover, arrow-down:focus {
    color: #d64933;
}

/* ==============================================
                    Buttons
============================================== */
.btn-home {
    color: white;
    border: 1px solid white;
}

.btn-home:hover, .btn-home:focus {
    color: white;
    background-color: #d64933;
    border: 1px solid #d64933;
}

.btn-orange {
    color: #fff;
    border: 1px solid #d64933;
    background-color: #d64933;
}

.btn-orange:hover, .btn-orange:focus {
    color: #fff;
    background-color: #131f25;
    border: 1px solid #131f25;
}

/* ==============================================
                Context Boxes
============================================== */
.content-box-lg {
    padding: 100px 0;
}

.content-box-md {
    padding: 80px 0;
}

/* ==============================================
        Vertical/Horizontal Headings
============================================== */
.vertical-heading h5 {
    color: #d64933;
    font-size: 16px;
    font-weight: 500;
    word-spacing: 9px;
    display: inline-block;
    transform: rotate(-90deg);
    position: relative;
    top: 65px;
    right: -35px;
}

.vertical-heading h2 {
    margin: 0 35px 10px 35px;
}

.horizontal-heading h2,
.vertical-heading h2 {
    font-size: 42px;
    font-weight: 100;
    line-height: 45px;
}

.horizontal-heading {
    margin-bottom: 80px;
}

.horizontal-heading h5 {
    font-size: 16px;
    color: #d64933;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
}

.horizontal-heading h2 {
    margin: 0;
}

/* ==============================================
                    About
============================================== */
#about-right p:first-child {
    margin-bottom: 30px;
}

#about-bottom {
    margin-top: 60px;
}

#about-bottom img {
    margin: 0 auto;
}
#about-02 {
    background-color: #f3f3f3;
}

.about-item {
    background-color: white;
    padding: 80px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all 400ms ease-in-out;
    margin: 5px 0;
}

.about-item i {
    font-size: 42px;
    margin: 0;
    transition: all 400ms ease-in-out;
}

.about-item h3 {
    font-size: 24px;
    margin: 10px;
}

.about-item hr {
    width: 45px;
    height: 3px;
    background-color: #d64933;
    margin: 0 auto;
    border: none;
    transition: all 400ms ease-in-out;
}

.about-item p {
    margin-top: 20px;
}

.about-item:hover, .about-item:focus {
    background-color: #d64933;
    color: white;
}

.about-item:hover hr, .about-item:focus hr {
    background-color: white;
}

.about-item:hover i, .about-item:focus i {
    transform: translateY(-20px);
}

/* ==============================================
                    Contact
============================================== */
#contact-right p {
    margin: 25px 0;
}

ul.office-details {
    list-style: none;
    padding: 0;
}

ul.office-details li {
    font-family: 'Open Sans', Vazir;
    margin-top: 10px;
    display: flex;
}

ul.office-details li i {
    font-size: 20px;
    width: 40px;
    text-align: center;
}

#contact-right ul.social-list li a {
    color: #131f25;
    border: 1px solid #131f25;
}

#contact-right ul.social-list li a:hover {
    color: white;
    border-color: transparent;
}

#contact-left {
    padding: 25px 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    border-radius: 4px;
}

#contact-left h4 {
    font-size: 24px;
}

#contact-left p {
    margin-bottom: 25px;
}

#contact-left form .form-control {
    font-family: 'Open Sans', Vazir;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 24px;
}

#contact-left form textarea.form-control {
    min-height: 165px;
}